
	{% load static %}

	<!DOCTYPE html>
	<html>
	<head>
		<title>Vimal Nayak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	</head>
	<body>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-md-3">
					<div class="card card-body h-100 border-info" id="profile-wrapper">
						<img id="profile-pic" src="{% static 'images/pic1.jpg' %}" >
						<hr>
						<h4>Hi I'm Vimal!</h4>
						<p>I love coding, doing research and explore new things</p>
					</div>
				</div>

        <div class="col-md-9">
					<div class="card card-body h-100 border-info">
						<h3>Python Developer</h3>
            <h4 id="contact">AHMEDABAD, Mobile: 8460620385, E-Mail:vimalhnayak@gmail.com</h4>
						<hr>
						<p><strong>Objective:</strong>I wish to work in a team of motivated individuals who wish to work towards the advancement of growth-oriented the company and its goals while having the scope to develop my own skills.</p>

						<ul class="social-links">

							<li><a href="https://www.facebook.com/vimal.nayak.90"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
							<li><a href="https://www.linkedin.com/in/vimal-nayak-78869a97"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						</ul>

          </div>
				</div>

      </div>
			<br>

    	<div class="row">

        <div class="col-md-6">
					<div class="card card-body h-100">
						<h5>My Experience</h5>
						<hr>
						<p>8 years of experience in teaching</p>
						<p>Currently working as Head of Electronics & Communication department at Silver Oak university, Ahmedabad(2012-2020)</p>
						</div>
				</div>

				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>SKILLS:</h5>
						<hr>
						<p>Python, Django 3,
              <br>JavaScript, Bootstrap, HTML,CSS,
              <br>Matplotlib, pandas, Numpy, Scikit-learn, Tensor Flow)</p>
						<p><strong>Present: </strong>Working on Django 3 and Machine Learning.</p>
					</div>
				</div>

    	</div>
			<br>

    	<div class="row">

        <div class="col-md-6">
					<div class="card card-body h-100">
						<h5>How I Learn</h5>
						<hr>
						<p><strong>COURSES AND CERTIFICATIONS</strong></p>
            <p>More than 6 certification course from DATACAMP intermediate level in DATA Science
              Project Course @Coursera: Anomaly Detection in Time Series Data with
              Keras</p>
            <p><strong>Reverse Engineering</strong></p>
            <p>I can learn just about anything by having a final product to tear apart piece by piece.</p>

					</div>
				</div>

				<div class="col-md-6">

          <div class="card card-body h-100">
						<h5>EDUCATION</h5>
					<hr>
					<p><strong>MASTER OF ELECCTRONICS AND COMMUNICATION (2010-2012)</strong><br>
            GUJARAT TECHNOLOGICAL UNIVERSITY <br>
            CPI-8.92(84.10%)</p>
					<p><strong>B.TECH IN ELECTRONICS AND COMMUNICATION (2006-2010)</strong> <br>
              GANAPAT UNIVERSITY <br>
              PERCENTAGE- 68.35%</p>

					</div>

        </div>

      </div>
      <br>

      <div class="row">

        <div class="col-md-6">
					<div class="card card-body h-100">
						<h5>LEADERSHIP</h5>
						<hr>
            <p>I have been working as Head of EC department and also heading technical club (PIN CHERRY for handling Projects of students) at institute</p>
					</div>
				</div>

				<div class="col-md-6">

          <div class="card card-body h-100">
						<h5>My Short Term Goals</h5>
					<hr>
					<p>Since I have started learning Python and Django 3 before three months Now i am inteded to learn Django REST framework </p>
					<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

					</div>

        </div>

      </div>
			<br>
		</div>
  </body>
	</html>
