{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row my-4">

        <div class="col-md-9">
            <div class="card card-body h-100 border-info">
                <h3>Python Developer</h3>
                <h4 id="contact">AHMEDABAD, Mobile: 8460620385, E-Mail:vimalhnayak@gmail.com</h4>
                <hr>
                <p><strong>Objective:</strong>I wish to work in a team of motivated individuals who wish to work towards
                    the advancement of growth-oriented the company and its goals while having the scope to develop my
                    own skills.</p>

                <ul class="social-links my-3">

                    <li><a href="https://www.facebook.com/vimal.nayak.90"><img class="social"
                                                                               src="{% static 'images/facebook.png' %}"></a>
                    </li>
                    <li><a href="https://wa.me/918460620385"><img class="social"
                                                                  src="{% static 'images/whatsapp.png' %}"></a></li>
                    <li><a href="https://www.linkedin.com/in/vimal-nayak-76030749/"><img class="social"
                                                                                         src="{% static 'images/linkedin.png' %}"></a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/pic1.jpg' %}">
                <hr>
                <h4>Hi I'm Vimal!</h4>
                <p>I love coding, doing research and explore new things</p>
            </div>
        </div>


    </div>
    <br>

    <div class="row">

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5 class="Profile_titles">My Experience</h5>
                <hr>
                <p><strong>1.8 years of experience as Python Developer</strong></p>
                <p><strong>Present: Python Developer at Skyward TechnoSol. Pvt. Ltd</strong></p>
                <p>1 years of experience as Python Trainer and Head of EC Department at Silver Oak University</p>
                <p>6 years of experience as professor in EC department at Silver Oak university, Ahmedabad</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5 class="Profile_titles">SKILLS:</h5>
                <hr>
                <p><strong>Python, Django 3,
                    <br>JavaScript, Bootstrap, HTML,CSS,
					<br>MYSQL, MongoDB, Redis</strong>
					<br>Matplotlib, pandas, Numpy, Scikit-learn, Tensor Flow
					<br> Familiarity with NodeJS(NestJS Framework), ReactJs
				</p>
				<p><strong>Present: </strong>Working on Django 3.</p>
            </div>
        </div>

    </div>
    <br>

    <div class="row">

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5 class="Profile_titles">How I Learned</h5>
                <hr>
                <p><strong>COURSES AND CERTIFICATIONS</strong></p>
                <p>More than 6 certification course from DATACAMP intermediate level </p>
                <p> DATA Science project Course @Coursera: Anomaly Detection in Time Series Data with
                    Keras</p>
                <p>I have completed the certified course on Full stack web development
                    using Django3 from Udemy</p>
                <p><strong>Reverse Engineering</strong></p>
                <p>I can learn just about anything by having a final product to tear apart piece by piece.</p>

            </div>
        </div>

        <div class="col-md-6">

            <div class="card card-body h-100">
                <h5 class="Profile_titles">EDUCATION</h5>
                <hr>
                <p><strong>MASTER OF ELECCTRONICS AND COMMUNICATION (2010-2012)</strong><br>
                    GUJARAT TECHNOLOGICAL UNIVERSITY <br>
                    CPI-8.92(84.10%)</p>
                <br>
                <p><strong>B.TECH IN ELECTRONICS AND COMMUNICATION (2006-2010)</strong> <br>
                    GANAPAT UNIVERSITY <br>
                    PERCENTAGE- 68.35%</p>

            </div>

        </div>

    </div>
    <br>

    <div class="row">

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5 class="Profile_titles">LEADERSHIP</h5>
                <hr>
                <p> I have led two developers in my last project in 2021 </p>
                <p>I have been working as Head of EC department and also heading technical club (PIN CHERRY for handling
                    Projects of students) at institute</p>
            </div>
        </div>

        <div class="col-md-6">

            <div class="card card-body h-100">
                <h5 class="Profile_titles">My Short Term Goals</h5>
                <hr>
                <p>Now I am growing in Python and Django 3 and with that learning
                    ReactJs in my downtime </p>
                <p>Aside from building small projects I would love to enter a position where I can be part of a bigger
                    team & learn from others with more experience than myself.</p>

            </div>

        </div>

    </div>
    <br>
</div>
{% endblock %}
